.App {
  text-align: center;
}
.main {
  width: 650px;
  height: 400px;
  background-image: url("social.jpg");
  margin: auto;
  border-radius: 50px;
  margin-top: 5%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.header {
  color: #f6eab9;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  padding-top: 2%;
}
.form {
  padding-top: 0%;
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
}
input {
  border-radius: 5px;
  border: none;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #f6eab9;
}
.row {
  margin-top: 8%;
}
button {
  width: 100%;
  border: none;
}
button:hover {
  cursor: pointer;
}
.instagram {
  background-color: #c13584;
  color: white;
  border-radius: 8px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.vk {
  background-color: #45668e;
  color: white;
  border-radius: 8px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.facebook {
  background-color: #3b5998;
  color: white;
  border-radius: 8px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.go {
  background-color: #f6eab9;
  border-radius: 8px;
  color: grey;
  width: 30%;
  padding-top: 1%;
  padding-bottom: 1%;
}
